
@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root {
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-android: 'Android', cursive;
    --fonte-header: 'Bebas Neue', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:var(--fonte-padrao);
}

body {
    background-color: #C685FF;
}

header {
    height: 150px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: linear-gradient(to bottom, #8A16F0, #5A07A3);
}

div.container-text-header {
    text-align: center;
}

div.container-text-header h1 {
    font-family: var(--fonte-header);
    font-size: 3rem;
}

div.container-text-header p {
    width: 50%;
    margin: 0 auto;
    font-style: italic;
    color: rgba(255, 255, 255, 0.8);
}

/* ===================>> MAIN <<================= */

a.externo::after {
content: '\00A0\1F517';
}

main {
    background-color: white;
    margin: 0px 200px 30px 200px;
    padding: 30px 20px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 3px 15px #000000ab;
}

main > article > p a {
    background: #C685FF;
    color: purple;
    padding: 2px 3px;
    text-decoration: none;
}

main > article > p a:hover {
    text-decoration: underline;
    color: rgba(32, 32, 253, 0.938);
    border-radius: 5px;
}

main h1 {
    color: purple;
    font-weight: normal;
    font-family: var(--fonte-android);
    font-size: 2rem;
}

main p {
    text-align: justify;
    text-indent: 30px;
    margin-bottom: 10px;
    line-height: 2em;
}

main h2 {
    margin-top: 7px;
    margin-bottom: 7px;
    background-image: linear-gradient(to right, #C685FF, transparent);
    color: purple;
    font-weight: normal;
    font-family: var(--fonte-android);
}

main img {
    width: 100%;
}

main img.bugdroid {
    max-width: 350px;
    display: block;
    margin: auto;
}

.video {
    background: #5A07A3;
    margin: 0px -20px 25px -20px;
    padding: 15px 20px;
    position: relative;
    padding-bottom: 58%;
}

.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.233);
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
}

aside > h3 {
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    background: #5A07A3;
    color: #fff;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

span.scrollToTop img {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 30px;
    fill: #5A07A3;
}

footer {
    background-color: #5A07A3;
    color: white;
    padding: 10px;
    text-align: center;
}

@media (max-width: 600px) {

/* ================>> HEADER <<================== */

    div.container-text-header h1 {
        font-size: 1.75rem;
    }

    div.container-text-header p {
        font-size: 0.75rem;
    }

    /* ================>> MAIN <<================== */

    main {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    main h1 {
        font-size: 1.25rem;
    }

    main p {
        font-size: 0.75rem;
    }

    main h2 {
        font-size: 1rem;
    }

    p.down-aside {
        margin-top: 30px;
        text-align: center;
    }
}